.wrap {
  padding-bottom: 38px;
}

.card-area {
  overflow: hidden;
  border-radius: 8px 8px;
}

.animation-element-wrapper {
  display: flex;
  overflow: hidden;
  height: 200px;
  margin: 10px 17px;
  border-radius: 8px 8px;
  background-color: #fff;
}

.flexTop {
  position: fixed;
  height: 250px;
  width: 100%;
}

.animation-element {
  width: 46px;
  height: 46px;
  margin-top: 54px;
  margin-left: 124px;
  background-color: #2b99ff;
}

.flexBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.scroll {
  height: 275px;
}
